/*
:root {
  --head-color: #fff;
  
  --fixed-nav-background: rgba(255, 255, 255, 0.9);
  --a-hover-color: #86c440;
  
  --btn-background: #9fd067;
  --btn-color: #fff;  
  
  --odd-color: #3a4145;
  --even-color: #f2efe8;
  
  --odd-background-color: #b80135;
  --even-background-color: #f2efe8;
 
  --sel-color: #222;
  --sel-background: #d6edff;

  --footer-color: #bbc7cc;
  --footer-background: #22343a;
  --footer-color-hover: #50585d; 
}
*/