@media only screen and (max-width: 1130px) {
  .fixed-nav {
    left: 0px;
    right: 0px;
    text-align: center;
    top: -4px;
    padding: 4px;
    padding-top: 8px;
  }
  
  a.fn-item {
    display: inline;
    margin-left: 8px;
  }

  blockquote {
    margin-left: 0;
  }
  
  .post-holder {
    padding-top: 20px;
  }

  #site-head {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 240px;
    padding: 15% 0;
    margin-bottom: 0rem;
  }

  .post {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  h1 {
    font-size: 4.8rem;
    text-indent: -2px;
  }

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 3.0rem;
  }

  h4 {
    font-size: 2.2rem;
  }
}
